{% extends 'admin/base_admin.html' %}
{% block title %}
Category List
{% endblock title %}


{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Category List
{% endblock page_title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'category_add' %}" class="btn btn-success"> Add New Category <i
                            class="fas fa-chevron"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="search-element">
                <div class="card">
                    <div class="card-body">
                        <form method="get">
                            <button class="btn  btn-primary" type="submit" style="float:right"><i
                                    class="fas fa-search"></i> Search
                            </button>
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                   data-width="250" style="width: 250px;float:right" name="filter" value="{{ filter }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            <aside class="col-md-2">
                <!--   SIDEBAR   -->
                <ul class="list-group" style="list-style-type: none;">
                    <li><label class="list-group-item text-center bg-info">Dashboard</label></li>
                    <li><a class="list-group-item" href="{% url 'category_list'%}"> Categories </a></li>
                    <li><a class="list-group-item" href="{% url 'product_list'%}"> Products </a></li>
                    <li><a class="list-group-item" href="{% url 'variant_list' %}"> Variants </a></li>
                    <li><a class="list-group-item" href="{% url 'order_list_admin'%}"> Orders </a></li>
                    <li><a class="list-group-item" href="{% url 'users_list' %}"> Users </a></li>
                    <li><a class="list-group-item" href="{% url 'sales_report' %}"> Sales Report </a></li>
                    <li><a class="list-group-item" href="{% url 'dashboard'%}"> Profile </a></li>
                    <li><a class="list-group-item " href="{% url 'admin_coupon_list'%}"> Coupon List </a></li>
                    <li><a class="list-group-item " href="{% url 'admin_product_offer_list'%}"> Product Offer List </a></li>
                    <li><a class="btn btn-light btn-block" href="{% url 'logout_admin' %}"> <i
                            class="fa fa-power-off"></i> <span
                            class="text">Log out</span> </a></li>
                </ul>
                <!--   SIDEBAR .//END   -->
            </aside>
           
            <main class="col-md-10">
                {% include 'includes/alerts.html'%}
                <article class="card">
                    <div class="table-responsive">
                        <div class="table-heading text-center font-weight-bold border-bottom mb-3 bg-info"
                             style="font-size: 24px; line-height: 1.5;">Category Details
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                               
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label></label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Category Name</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Update</label>
                                </td>
                                <td class="table-heading text-center font-weight-bold bg-primary text-white border-bottom mb-3">
                                    <label>Delete</label>
                                </td>
                            </tr>
                            </thead>
                            {% for category in category_list %}
                            <tr>
                                <td width="65">
                                    <img src="{{ category.cat_image.url }}" class="img-xs border">
                                </td>
                                <td>
                                    <p class="title mb-0 text-center"> {{ category.category_name }} </p>
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'category_update' category.id %}" class="btn btn-info">
                                        Update <i class="fas fa-chevron"></i></a>
                                </td>
                                
                                <td class="text-center">
                                    <form method="post" action="{% url 'category_delete' category.id%} " onclick="return confirm('Are you sure you want to change the listing?')">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning">
                                            <i class="fas fa-chevron"></i>
                                            {% if category.is_available %}Listed{% else %}Unlisted{% endif %}
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div> <!-- table-responsive .end// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock%}

{% block custom_js %}
{% endblock custom_js %}