<aside class="col-md-3">
  <!--   SIDEBAR   -->
  <ul class="list-group">
    <a class="list-group-item {% if '/dashboard/' in request.path %} active {% endif %}" href="{% url 'dashboard'%}"> Dashboard </a>

    <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href="{% url 'my_orders'%}"> My Orders </a>
    <a class="list-group-item {% if '/edit_profile/' in request.path %} active {% endif %}" href="{% url 'edit_profile'%}"> My Profile</a>
    <a class="list-group-item {% if '/address_list/' in request.path %} active {% endif %}" href="{% url 'address_list' %}"> Delivery Addresses </a>
 
    <a class="list-group-item {% if '/change_password/' in request.path %} active {% endif %}" href="{% url 'change_password'%}">Change Password </a>
    <a class="list-group-item {% if '/user_coupon_list/' in request.path %} active {% endif %}" href="{% url 'user_coupon_list'%}">Coupon List</a>
    <a href="{% url 'add_money_wallet'%}" class="btn btn-sm btn-warning">Add Money to Wallet</a>
    
  </ul>
  <br>
  <a class="btn btn-light btn-block" href="{% url 'logout'%}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
  <!--   SIDEBAR .//END   -->
</aside>