{% extends 'base.html'%}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
  
  <!-- ============================ COMPONENT 1 ================================= -->
  
  <div class="row">
   
    <aside class="col-lg-6">
      
      <a href="{% url 'create_address' %}" class="btn btn-primary btn-block">Add New Address</a>
      <br>
  <div class="card">
   <div class="card-body">
    {% include 'includes/alerts.html'%}
    <h4 class="card-title mb-4">Billing Address</h4>
    
   
      <div class="form-row">
        <form action="{% url 'place_order'%}" method="POST">
          {% csrf_token %}
          <div class="form-group">
              <h5 class="text-center text-white bg-warning" style="border-radius: 8px; padding: 10px;">Choose Delivery address:</h5>
              <div class="custom-control custom-radio">
                  {% for address in user_addresses %}
                      <div>
                          <input type="radio" id="address{{ address.id }}" name="selected_address" class="custom-control-input" value="{{ address.id }}">
                          <label class="custom-control-label" for="address{{ address.id }}">
                              {{ address.full_name }} - {{ address.address_line_1 }}, {{ address.city }}
                              <p>{{ address.id }}</p>

                          </label>
                          <a href="{% url 'edit_address' address_id=address.id %}" class="btn btn-success btn-sm">Edit</a>
                          <a href="{% url 'delete_address' address_id=address.id %}" onclick="return confirm('Are you sure you want to delete the address?')"  class="btn btn-danger btn-sm">Delete</a>
                      </div>
                  {% endfor %}
              </div>
          </div>
    
      
       
      </div>
      
   
  
        
      
  

   </div>


  </div> <!-- card.// -->
  
    </aside> <!-- col.// -->
    <aside class="col-lg-6">
  
      <div class="card">
      <div class="card-body">
        <table class="table table-borderless table-shopping-cart">
          <thead class="text-muted">
          <tr class="small text-uppercase">
            <th scope="col">Product</th>
            <th scope="col" width="120">Quantity</th>
            <th scope="col" width="120">Price</th>
        
          </tr>
          </thead>
          <tbody>
            {% for cart_item in cart_items %}
          <tr>
            <td>
              <figure class="itemside align-items-center">
                <div class="aside"><img src="{{ cart_item.product.image.url}}" class="img-sm"></div>
                <figcaption class="info">
                  <a href="{{cart_item.product.get_url }}" class="title text-dark">{{cart_item.product.product_name}}</a>
                  <p class="text-muted small">
                    {% if cart_item.variations.all %}
                     {% for item in cart_item.variations.all%}
                     {{item.variation_category| capfirst}}: {{ item.variation_value |capfirst}}<br>
                    
                     {% endfor %}
                    {% endif %}
        
                  </p>
                </figcaption>
              </figure>
            </td>
            <td> 
              <!-- col.// -->
                    <label>{{cart_item.quantity}}</label>
            </td>
            <td> 
              <div class="price-wrap"> 
                <var class="price">₹{{cart_item.total_price}}</var> 
                {% if cart_item.product.offer_percentage %}
                <small class="text-muted"> ₹{{cart_item.product.offer_price}} each </small> 
                {% else %}
                <small class="text-muted"> ₹{{cart_item.product.price}} each </small> 
                {% endif %}
              </div> <!-- price-wrap .// -->
            </td>
            
          </tr>
          {% endfor %}
         
          </tbody>
          </table>
       
          {% if total_discount > 0 %}
          <hr>
      <p class="text-center mb-3 ">You have saved! <strong>Rs. {{ total_discount | floatformat:2 }}</strong></p>
      {% endif %}
        <button type="submit" name="submit" class="btn btn-primary btn-block">Proceed to Place Order</button>
        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
        </form>
      </div> <!-- card-body.// -->
      </div> <!-- card.// -->
    
  </aside> <!-- col.// -->
  
  
  </div> <!-- row.// -->
  
  <!-- ============================ COMPONENT 1 END .// ================================= -->
  
  </div> <!-- container .//  -->
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}