{% extends 'base.html'%}
 {% load static %}
{% block content %}
<style>
  /* Your custom styles */
.slider {
    width: 80%;
    margin: auto;
}

.slick-prev, .slick-next {
    font-size: 24px;
    color: #000;
}

.slick-prev:hover, .slick-next:hover {
    color: #333;
}

ul.thumb{
  margin:0 auto;
  padding:0;
  float:left;
}
ul.thumb li{
  list-style:none;
  margin:10px;

}
ul.thumb li img{
  width:80px;
  height:80px;
  border:1px solid grey;
}
#1{
  width:300px;
  height:300px;
}
</style>
<section class="section-content padding-y bg">
  <div class="container">
  
  <!-- ============================ COMPONENT 1 ================================= -->
  <div class="card">
    <div class="row no-gutters">
      <aside class="col-md-6">
        <article class="gallery-wrap"> 
            <div class="image-big-wrap mainImage">
            
                <center><img src="{{ single_product.image2.url }}" class="xzoom" alt="{{ product.name }} Image" style="width: 500px; height: 550px;"></center>
            </div>
        </article> <!-- gallery-wrap .end// -->
        <ul class="thumb">
          <li>
            <a href="{{ single_product.image.url }}" target="mainImage"><img src="{{ single_product.image.url }}" alt="Product Image" class="xzoom"></a>
            {% for image in additional_images %}
            <a href="{{ image.addimage.url }}" target="mainImage"><img src="{{ image.addimage.url }}" alt="Product Image" ></a>
            {% endfor %}
          <li>
        </ul>

    </aside>
      <main class="col-md-6 border-left">

<form action="{% url 'add_cart' single_product.id%}" method="POST">
  {% csrf_token %}
  <article class="content-body">
  
  <h2 class="title">{{ single_product.product_name }}</h2>
  <div class="mb-3"> 
    <var class="price h6">Category: {{single_product.category}}</var> 
  </div> 
  
  <div class="mb-3"> 
    {% if single_product.offer_percentage > 0 %}
    <span class="price">{{ single_product.offer_percentage }}% off</span>
    <span class="price">Rs. {{ single_product.offer_price }}</span>
    <del class="price-old">Rs. {{ single_product.price }}</del>
{% else %}
    <var class="price h4">Rs. {{ single_product.price }}</var>
{% endif %}
  </div> 
  
  <p>{{single_product.description}}</p>
  
  
  <hr>
    <div class="row">
      <div class="item-option-select">
        <h6>Choose Color</h6>
        <select name="color" class="form-control" required>

          <option value=""disabled selected>Choose Color</option>


          {% for i in single_product.variation_set.colors%}
          <option value="{{i.variation_value|lower}}">{{i.variation_value|capfirst}}</option>
          {% endfor %}
          
        </select>

      </div>
    </div> <!-- row.// -->
    <div class="row">
      <div class="item-option-select">
        <h6>Select Size</h6>
        <select name="size" class="form-control">
          <option value=""disabled selected>Choose Size</option>
          {% for i in single_product.variation_set.sizes %}
          <option value="{{i.variation_value|lower}}">{{i.variation_value|capfirst}}</option>
          {% endfor %}
        </select>

      </div>
    </div> <!-- row.// -->
   
    <hr>
    {% if single_product.stock <= 0 %}
     <h5 class="text-danger">Out Of Stock </h5>
    {% elif not single_product.category.is_available %}
    <h5 class="text-danger">Temporarily not available </h5>
    
    {% else %}
      
     <button type="submit"  class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
    
     {% endif %}
  </article> <!-- product-info-aside .// -->
</form>
{% if is_wish_list_item %}
  <i class="wishlist-icon fas fa-regular fa-heart"></i>
{% else %}
  <button id="add-to-wishlist-btn" class="btn btn-success">
      <span class="text">Add to Wishlist</span>
      <i class="wishlist-icon fas fa-regular fa-heart"></i>
  </button>
{% endif %}
      </main> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
  <!-- ============================ COMPONENT 1 END .// ================================= -->
  
  <br>
  
  <div class="row">
        <div class="col-md-9">
  
    <header class="section-heading">
      <h3>Customer Reviews </h3>  
      
    </header>
  
    <article class="box mb-3">
      <div class="icontext w-100">
        <img src="{% static './images/avatars/avatar1.jpg'%}" class="img-xs icon rounded-circle">
        <div class="text">
          <span class="date text-muted float-md-right">24.04.2020 </span>  
          <h6 class="mb-1">Mike John </h6>
          
        </div>
      </div> <!-- icontext.// -->
      <div class="mt-3">
        <p>
          Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip
        </p>	
      </div>
    </article>
  
    
  
    </div> <!-- col.// -->
  </div> <!-- row.// -->
  
  
  </div> <!-- container .//  -->
  </section>

  <!-- ========================= SECTION CONTENT END// ========================= -->
<!-- Add these scripts to the end of the body section of your HTML template -->



<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>
<script>
  $(document).ready(function() {
      // Initialize xZoom for the main image
      $('.xzoom').ezPlus({
          gallery: 'viewer', // Use the 'viewer' div as the gallery for the zoomed image
          cursor: 'crosshair', // Change cursor to crosshair when zooming
          zoomType: 'inner' // Set zoom type to inner
      });

      // Event listener for thumbnail clicks
      $('.thumb a').click(function(e){
          e.preventDefault();
          // Update the main image source when a thumbnail is clicked
          $('.mainImage img').attr('src', $(this).attr("href"));

          // Re-initialize xZoom for the new main image
          $('.mainImage img').ezPlus({
              gallery: 'viewer', // Use the 'viewer' div as the gallery for the zoomed image
              cursor: 'crosshair', // Change cursor to crosshair when zooming
              zoomType: 'inner' // Set zoom type to inner
          });
      });
  });
</script>
<script>
  $(document).ready(function() {
      $('#add-to-wishlist-btn').click(function() {
          $.ajax({
              url: "{% url 'add_to_wishlist' single_product.id %}",
              type: 'GET',
              dataType: 'json',
              success: function(data) {
                  if (data.status === 'added_to_wishlist') {
                      // Update UI to indicate the product is in the wishlist
                      $('.wishlist-icon').show();  // Show the heart icon
                      $('#add-to-wishlist-btn .text').hide();  // Hide the "Add to Wishlist" text
                      alert('Product added to wishlist successfully.');
                  } else if (data.status === 'already_in_wishlist') {
                      alert('Product is already in your wishlist.');
                  }
              },
              error: function(error) {
                  console.log(error);
              }
          });
      });
  });
</script>


{% endblock %}